<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <header>
   <a class="main__link" href="index.html"><h1 class="main__logo">Typical Spanish</h1></a>
</header>
    <main>
        <h2>
            ¿Qué dicho típico necesitas hoy?
        </h2>
        <p>La sabiduaría de tus abuelos traída a nuestros días</p>
        <button class="sayings__button js-sayings-button">Ilumíname</button>
        <section class="saying__answer js-saying-answer" id="sayings-id">
                
            </section>
    </main>
    <script src="assets/js/main.js"></script>
</body>
</html>